<div class="performance_warning_overlay">
  <div class="performance_warning_dialog">
    <h2 class="performance_warning_title">Performance Warning</h2>
    <div class="performance_warning_content">
      <p>
        Imaginer has detected that the gallery contains a large number of images, which is causing performance issues (slow loading, unresponsive interface).
      </p>
      <p>To restore optimal performance, we recommend exporting your images and then clearing the gallery.</p>
    </div>
    <div class="performance_warning_actions">
      <button class="performance_warning_button performance_warning_button_primary" id="performance_warning_download_all_button">Download All Images (ZIP)</button>
      <button class="performance_warning_button performance_warning_button_danger" id="performance_warning_clear_gallery_button">Clear Gallery</button>
      <button class="performance_warning_button performance_warning_button_secondary" id="performance_warning_close_button">Close</button>
    </div>
  </div>
</div>
